body{padding:0;background:#E3E3E3;width:100%; text-align: center;}
.main,.btn{margin:30px auto;}
.logo{width:300px; margin:0 auto}
p{ text-align:center; color:#0F0F0F; max-width:70%; margin:10px auto;line-height:1.4;font-family: "微软雅黑"}
h1{ text-align:center;color:#D3D3D3}
.site{ max-width: 80%; margin: 0 auto;}
.btn{ display:inline-block;width:160px;height:40px;  line-height:40px;color:#fff; text-decoration:none; background:#4A4A4A; border: 1px solid #CCCCCC; border-radius: 5px;text-align:center;font-weight:bold;font-size:22px; }
.btn:hover{color: #eee; background-color:royalblue; }
a{color: #fff; text-decoration: none;}
.ads{ width:100%; height:300px}
.zhu{ margin: 0 auto; align-content: center;}
.beiyong a{ margin: 10px 20px;display:inline-block}
.beiyong a:hover{ color:royalblue;}
