/* CSS Document */
.focus-main{height:140px;overflow:hidden}
.focus-main #wraper2{ height:100%}
.img-focus{ width:100%; overflow:hidden;padding-top:10px; background-color:#fff;}
.focus-pic{ overflow:hidden}.focus-main #scroller,.focus-pic,.focus-pic li img{ height:100%;}
.focus-pic li{overflow:hidden; float:left}
.focus-main img,.focus-main li{ width:100%; height:130px;}#wraper2{position:relative;}
.circle{ position:absolute; left:0; bottom:15px; height:10px; width:100%;text-align:right}.circle span{ display:inline-block; margin-right:5px;text-indent:-9999px; width:6px; height:6px; border-radius:50%; background-color:#fff;}.circle .active{ background-color:#03aaf9;}
.mini-nav{padding:15px 0 10px 0;line-height:25px;overflow:hidden;background:#fff;}.mini-nav li{ text-align:center;float:left; width:20%; background-color:#fff;-webkit-box-sizing: border-box;-mos-box-sizing: border-box;}
.mini-nav li a{display:block;font-size:1.4rem;}.mini-nav li span{display:block;width:48px; height:48px; border-radius:50px; margin:0 auto;background-color:#ccc;}
.mini-nav li:first-child span{background:#02aff3 url(../img/index_bg.png) 10px 8px no-repeat; background-size:60px auto;}
.mini-nav li:nth-child(2) span{background:#a172f6 url(../img/index_bg.png) 10px -30px no-repeat; background-size:60px auto;}
.mini-nav li:nth-child(3) span{background: #2dcd70 url(../img/index_bg.png) 8px -138px no-repeat;background-size: 72px auto;}
.mini-nav li:nth-child(4) span{background: #ff5a59 url(../img/index_bg.png) 10px -190px no-repeat; background-size:60px auto;}
.mini-nav li:nth-child(5) span{background: #ffb300  url(../img/index_bg.png) 10px -148px no-repeat; background-size:60px auto;}
.wrap{ margin:12px 0; margin-top:0; padding-bottom:12px; background-color:#fff;}
.wrap-tit{ height:40px; border-bottom:1px solid #ececec; position:relative;}
.wrap-tit h2{ position:absolute; top:1px;left:0; display:inline-block; height:38px; margin:0 10px;float:left; font-size:1.7rem;font-weight:normal;color:#000;line-height:40px;}
.wrap-tit h2 font{ font-size:1.6rem;}
.wrap-tit .nav{ float:right; height:26px; margin-top:7px; border:1px solid #03aaf9; border-radius:5px; margin-right:10px;}
.wrap-tit .nav span{ display:inline-block; height:26px; line-height:26px; border-right:1px solid #03aaf9; padding:0 8px; font-size:1.5rem; color:#03aaf9}
.wrap-tit .nav span:last-child{ border:none}
.wrap-tit .nav .active{ background-color:#03aaf9; color:#fff;}
.wrap-tit .more{ height:40px; line-height:40px; margin-right:10px;float:right; display:inline-block;}
.game-box .game-ul{ overflow:hidden; display:none}.game-box .current{ display:block}
.game-ul li{ width:25%;height:110px; float:left; margin-top:10px;}
.game-ul li .pic{ display:block; margin:0 auto;padding:0 5px;}
.game-ul li img{ display:block; margin:0 auto; width:64px; height:64px;}
.game-ul .pic span{ display:block;height:42px;width:100%;line-height:20px;text-align:center; font-size:1.4rem;overflow:hidden;margin-top:3px;color:#474747}
.game-ul .pic .size{ color:#999; font-size:1.3rem;}
.game-ul li .down{ display:block; height:26px; line-height:26px; border:1px solid #03aaf9; border-radius:15px; text-align:center; width:60px; margin:0 auto; color:#03aaf9; font-size:1.5rem;}
.tags-ul{height:116px;overflow:hidden;zoom:1;}.tags-ul li{ margin-top:10px; background-color:#ececec; float:left; display:inline-block; margin-left:10px; border-radius:10px; height:26px; line-height:26px; text-align:center;}
.tags-ul li a,.tags-ul li a font{ padding:0 10px; display:inline-block; height:26px; line-height:26px; font-size:1.4rem !important;}
.tags-ul li:nth-child(1){ background-color:#6046ff;}.tags-ul li:nth-child(3){background-color:#ff5e32;}
.tags-ul li:nth-child(5){background-color:#b36fff;}.tags-ul li:nth-child(7){background-color:#ff4bb8;}
.tags-ul li:nth-child(9){background-color:#46bf40;}.tags-ul li:nth-child(11){background-color:#f7a131;}
.tags-ul li:nth-child(13){ background-color:#6046ff;}.tags-ul li:nth-child(15){background-color:#ff5e32;}
.tags-ul li:nth-child(17){background-color:#b36fff;}.tags-ul li:nth-child(19){background-color:#ff4bb8;}
.tags-ul li:nth-child(1) a,.tags-ul li:nth-child(3) a,.tags-ul li:nth-child(5) a,.tags-ul li:nth-child(7) a,.tags-ul li:nth-child(9) a
,.tags-ul li:nth-child(11) a,.tags-ul li:nth-child(13) a,.tags-ul li:nth-child(15) a,.tags-ul li:nth-child(17) a,.tags-ul li:nth-child(19) a
,.tags-ul li:nth-child(1) a font,.tags-ul li:nth-child(3) a font,.tags-ul li:nth-child(5) a font,.tags-ul li:nth-child(7) a font,.tags-ul li:nth-child(9) a font
,.tags-ul li:nth-child(11) a font,.tags-ul li:nth-child(13) a font,.tags-ul li:nth-child(15) a font,.tags-ul li:nth-child(17) a font,.tags-ul li:nth-child(19) a font{ color:#fff;}
/*头条*/
.toper{height:68px;overflow:hidden;margin:10px 0;background:#fff url(/public/img/index_bg.png) 12px -237px no-repeat;background-size:60px auto;}
.toper li{height:52px;margin:0 10px;padding:8px 0;display:none;}.toper li.current{display:block;}
.toper a{display:block;height:26px;line-height:26px;overflow:hidden;padding-left:45px;font-size:1.4rem;white-space: nowrap;text-overflow: ellipsis;}
.toper .tit{color:#02aff3;font-size:1.6rem;}
.toper .toper-con a{color:#b2b2b2;}
/*k滑动*/
.game-tags #scroller,.game-tags #scroller2,.game-tags #scroller3{width:3000px;height:100%;float:left;padding-left:12px; top:12px !important}
#thelist,#thelist2,#thelist3{display:block;float:left;width:100%;height:100%;margin:0;}
.game-tags{overflow:hidden; position:relative; height:100px;}
.game-tags ul{width:100%;height:100px;overflow:hidden;float:left;display:-webkit-box;}
.game-tags li{float:left;width:200px;height:100px;text-align:center;position:relative;margin-right:12px;}
.game-tags li img{width:200px;height:100px;display:block;border-radius:5px;}
.game-tags li span{display:block;width:200px;height:25px;line-height:25px;overflow:hidden;color:#fff;font-size:1.4rem;background:rgba(0,0,0,0.6);border-radius:0 0 5px 5px;position:absolute;bottom:0;left:0;}
/*今日推荐*/
.day-tj .rank-main-list li{width:100%;display:-webkit-box;display:-moz-box;display: box;position:relative;}
.day-tj .rank-main-list .pic {width:70px;margin-left:45px;}.day-tj .rank-main-list .pic img {margin:0}
.day-tj .rank-main-list .info {-moz-box-flex: 1;-webkit-box-flex: 1;box-flex: 1;margin: 0 8px;border:none;}
.day-tj .rank-main-list em{position:absolute;left:12px;}
.day-tj .rank-main-list .down{margin-right:10px;}.day-tj .rank-main-list a:hover.down{background:#02aff3;color:#fff;}
.day-tj li .time{padding-left:18px;background: url(../img/all_ico.png) -5px -275px no-repeat;background-size: 26px auto;}
.links{margin-bottom:0;}
.links-ul{margin:8px 0 0 10px;overflow:hidden;zoom:1;}
.links-ul a{display:inline-block;line-height:28px;margin-right:10px;font-size:1.4rem;float:left}
footer{ text-align:center;} footer p{ height:30px; line-height:30px; font-size:1.3rem; color:#999;}
footer p a{ display:inline-block; height:30px; line-height:30px; font-size:1.5rem; margin:0 10px; padding-left:30px;}
footer p .gotop{ background:url(../img/all_ico.png) 0px -794px no-repeat; background-size:35px auto}
footer p .pc{background:url(../img/all_ico.png) 0px -645px no-repeat; background-size:30px auto}
footer p .home{background:url(../img/home.png) 5px 5px no-repeat; background-size:20px auto}
/**必玩**/
.biwan-pic{margin:12px 8px; overflow:hidden;zoom:1;}
.biwan-pic .downList{width:2000px; height:110px; overflow:hidden;}
.biwan-pic .box{ float:left; background-color:#fff; text-align:center;}
.biwan-pic .box img{ width:100%; height:80px; float:left;}
.biwan-pic .right{ float:right}
.biwan-pic .box span{ display:block; width:100%; clear:both; height:30px; line-height:30px; overflow:hidden;}
.cata-nav{ border:2px solid #02aff3; border-radius:5px; height:30px; margin-bottom:12px;}
.cata-nav span{ background-color:#fff; font-size:1.5rem; display:inline-block; height:30px; line-height:30px; width:50%; text-align:center;}
.cata-nav .active{ color:#fff; background-color:#02aff3;}
.biwan-list{ overflow:hidden; margin-right:8px;}
.biwan-list li{ width:50%; height:70px; float:left;display:-webkit-box;display:-moz-box;display:box; margin-top:12px;}
.biwan-list li .info{-moz-box-flex:1;-webkit-box-flex: 1;box-flex: 1;}
.biwan-list img{ width:70px; height:70px; margin:0 8px;}
.biwan-list .info a,.biwan-list .info span{ display:block; height:20px; line-height:20px; width:100%; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; color:#999}
.biwan-list .info .tit{ color:#474747; font-size:1.4rem;}.biwan-list .info .down{ display:inline-block; height: 24px;line-height: 24px;border: 1px solid #03aaf9;border-radius: 15px;text-align: center;width: 60px; color:#03aaf9; font-size:1.5rem;}
.biwan-ul{margin:0;padding:10px 0;background-color:#f0f0f0;}
.biwan-ul .biwan-outwrap{ display:none}
.biwan-ul .current{ display:block}
.biwan-ul .biwan-game{ margin-bottom:12px; background-color:#fff; padding-bottom:10px;}
.biwan-ul .biwan-game:last-child{margin-bottom:0;}
.tag-ul .tags-page,.gamerank .wyfl{ display:none}.tag-ul .tags-page{ background-color:#fff; padding-bottom:12px;}
.tag-ul .current,.gamerank .current{ display:block}
/**排行**/
.rank-nav{ height:50px; margin:0 8px;}.rank-nav h2{ display:inline-block; height:50px; float:left; line-height:50px; font-size:2rem}
.rank-tab{ display:inline-block;height:40px;float:right; margin-top:5px;}
.rank-tab span{ display:inline-block; height:34px; width:34px; border-radius:5px; margin:2px 0 0 12px; border:1px solid #dfdfdf;}
.rank-tab .iph{ background:#fff url(../img/all_ico.png) 2px -545px no-repeat; background-size:35px auto;}
.rank-tab .adr{background:#fff url(../img/all_ico.png) 2px -581px no-repeat; background-size:35px auto;}
.rank-tab .iph.active{ background:#dfdfdf url(../img/all_ico.png) 2px -545px no-repeat; background-size:35px auto;}
.rank-tab .adr.active{background:#dfdfdf url(../img/all_ico.png) 3px -581px no-repeat; background-size:35px auto;}
.rank-wrap{ background-color:#fff; overflow:hidden; padding-bottom:10px;}
.rank-wrap .rank-list{ overflow:hidden;zoom:1; margin-left:8px; display:none}.rank-wrap .current{ display:block}
.rank-list li{ overflow:hidden; width:50%; float:left; overflow:hidden; height:82px; margin-top:10px;}
.rank-list img{ width:62px; height:62px;}.rank-list span{ display:block;-moz-box-flex:1;-webkit-box-flex: 1;box-flex: 1; text-align:center; margin-right:8px;}
.rank-list span em{ display:block; width:100%; height:25px; line-height:25px; font-size:1.5rem; white-space:nowrap; overflow:hidden; text-overflow:ellipsis}
.rank-list span .nub{ font-size:1.3rem; color:#999}
.rank-list li a{ display:block; margin-right:8px; padding:8px; height:62px; border:1px solid #f1f1f1;display:-webkit-box;display:-moz-box;display:box;}
/**标签**/
#taglist .tags-ul{height:auto;}
.tag-nav{ height: 50px; background-color:#fff; padding:0 8px; margin-bottom:10px;}
.tag-left{ float:left;}
.tag-left a{ display:inline-block; height:48px; margin-right:10px; padding:0 5px; line-height:48px; font-size:1.7rem; float:left;}
.tag-left .active{ color:#02aff3; border-bottom:2px solid #03aaf9}
.tag-wrap{ background-color:#fff; overflow:hidden; padding-bottom:12px;}
.tag-wrap .cata-pic{ width:100%; height:150px}
.tag-wrap .cata-pic img{ width:100%; height:150px}
.rank-mnav h2{ color:#02aff3;}
.rank-mnav span{ text-align:center; line-height:34px; background-color:#fff; font-size:1.6rem}
.rank-mnav span.active{ background-color:#02aff3; color:#fff}
.rank-main-list{ overflow:hidden; background-color:#fff; padding:0;}
.rank-main-list li{ height:70px; width:50%; float:left; border-bottom:1px solid #f5f5f5; margin-top:10px; padding-bottom:10px;}
.rank-main-list .pic{ display:block; width:100%; height:70px;display:-webkit-box;display:-moz-box;display:box;}
.rank-main-list img{ width:70px; height:70px; margin:0 6px;}
.rank-main-list .info{ height:70px;-moz-box-flex:1;-webkit-box-flex: 1;box-flex: 1; margin:0; border-right:1px solid #f5f5f5}
.rank-main-list .info span{ display:block; width:100%; height:30px; line-height:30px; font-size:1.5rem; overflow:hidden;}
.rank-main-list .info .text{ font-size:1.3rem; color:#999; overflow:hidden}
.rank-main-list li a{ display:block;}.rank-main-list .down,.rank-main-list .bxz{width:60px; text-align:center; height:26px; line-height:26px; border:1px solid #02aff3; margin-top:21px; border-radius:15px; color:#02aff3; font-size:1.5rem;}
.rank-main-list .jj{ width:70px; border:1px solid #ccc; color:#ccc;}
.rank-main-list .info p{ float:left; height:25px; line-height:25px; width:100%; overflow:hidden; white-space:nowrap; color:#999; text-overflow:ellipsis}.rank-main-list .info .star{height:20px; line-height:20px;}
.rank-main-list .top{display:-webkit-box;display:-moz-box;display:box;}
.rank-main-list .top em,.rank-main-list .top a{ height:25px;line-height:25px; font-size:1.5rem;}
.rank-main-list .top a{ display:block;-moz-box-flex:1;-webkit-box-flex: 1;box-flex: 1; white-space:nowrap; overflow:hidden; text-overflow:ellipsis}
.rank-main-list .top em{ background-color:#c2c2c2; display:inline-block; width:21px; height:21px; line-height:21px; margin-top:2px; margin-right:5px; border-radius:3px; text-align:center; color:#fff;}
.rank-main-list li:nth-child(1) em{ background-color:#fc6408;}
.rank-main-list li:nth-child(2) em{ background-color:#fe9733}
.rank-main-list li:nth-child(3) em{ background-color:#ffc22f}
.rank-main-list p i{ display:inline-block; height:15px; line-height:15px; border-right:1px solid #dcdcdc; padding-right:5px; margin-right:5px; color:#999}
.rank-main-list p i:last-child{ border-right:none}
/*平台*/
.wyfl li{position:relative;}
.wyfl li .platform{width:70px;height:60px;position:absolute;right:0;top:5px;padding-right:0;display:table;}
.wyfl li .platform u{display:table-cell;vertical-align: middle; }
.wyfl li .platform a{display:block;width:43px;height:24px;line-height:24px;padding-left:25px;margin-bottom:6px;font-size:12px;border:1px solid #ddd;border-radius:5px;background:url(/public/img/pt_btn.png) 4px 3px no-repeat;background-size:16px;}
.wyfl li .platform a.iphone{ background-position:5px -27px;background-size:16px;}
.wyfl li .platform a:last-child{margin:0;}

/**分类页**/
.goback{ height:30px; padding:10px 8px;/*display:-webkit-box;display:-moz-box;display:box;*/ position:relative;}.goback span{ display:block; height:30px; line-height:30px;}
.goback .back{ width:30px; background:url(../img/all_ico.png) -3px -718px no-repeat; text-indent:-9999px;background-size:30px auto}
.goback .gameList-back { position:absolute; left:10px; top:10px;}
.goback .gameList-back a{ display:block; width:30px; height:30px;}

.goback .tit{ height:30px;-moz-box-flex:1;-webkit-box-flex: 1;box-flex: 1; text-align:center; font-size:1.7rem; color:#02aff3}
.tag-nav .all-hide{ display:none; position:absolute; right:0; top:95px; z-index:9999; width:110px; background-color:#fff; border-bottom:1px solid #f0f0f0}
.tag-nav .all-hide a{ display:block; height:32px; line-height:32px; text-align:center; width:100%; background-color:#fff; border-top:1px solid #f0f0f0; font-size:1.5rem;}
.tag-nav .all-hide .active{ background-color:#f0f0f0;}
.tag-nav .tip{ margin-top:0; width:72px; /*padding-left:30px;*/ line-height:50px; font-size:1.5rem; }
.tag-nav .tip i{ display:inline-block; width:60px; float:right; margin-top:15px;height:20px;line-height:20px;font-size:1.5rem;background:url(../img/all_ico.png) 67px -66px no-repeat; background-size:26px auto; text-align:right; padding-right:23px;}
.tag-nav .show{ display:block; opacity:1}.tag-nav .tip-active{ position:relative; z-index:99999; background-color:#fff; width:110px; right:-8px; height:55px;}
.tag-nav .tip-active i{ color:#02aff3;background:url(../img/all_ico.png) 67px -80px no-repeat; background-size:26px auto; margin-right:8px; }
.mask{width: 100%;height: 100%;position: fixed;left: 0;top: 0;z-index: 999;background: rgba(0,0,0,.2);}
/**装机必备**/
.zjbb-wrap{margin-top:10px; background-color:#fff;}
.zjbb-tit{ height:35px; width:100%;}
.zjbb-tit h2{ height:30px; width:100%;text-align:center; line-height:25px; font-size:1.5rem; color:#fff;}
.zjbb-one{background:url(../img/zjbb.png) center -35px no-repeat; background-size:auto 140px;}
.zjbb-two{background:url(../img/zjbb.png) center -72px no-repeat; background-size:auto 140px;}
.zjbb-three{background:url(../img/zjbb.png) center 0px no-repeat; background-size:auto 140px;}
.zjbb-four{background:url(../img/zjbb.png) center -108px no-repeat; background-size:auto 140px;}
/**资讯频道**/
.news-box{ overflow:hidden; margin:0 8px}
.news-box .news-tit{ height:24px; line-height:24px; padding:11px 0;}
.news-box .tit{ display:block; height:24px; line-height:24px; border-left:4px solid #02aff3; padding-left:5px; font-size:1.7rem;}
.news-box .news-li{ overflow:hidden; background-color:#fff; padding:8px 0;}
.news-box .news-li li{ width:25%; float:left; height:30px; line-height:30px;}
.news-box .news-li a{ display:block; width:100%;height:30px; line-height:30px; overflow:hidden; text-align:center; font-size:1.4rem;}
/**资讯列表**/
.news-ul li {background-color:#fff;height: 56px;padding: 10px 8px;display: -webkit-box;display: box;border-bottom: 1px solid #efefef;overflow:hidden;}
.news-ul li .pic {display: block;width: 87px;height: 56px;margin-right: 6px;}
.news-ul li img {width: 87px;height: 56px;}
.news-ul li .info {display: block;-webkit-box-flex: 1;box-flex: 1;}
.news-ul li .info a, .news-ul li .infoM {display: block;width: 100%;font-size: 1.5rem;overflow: hidden;text-overflow: ellipsis;line-height: 20px;}
.news-ul li .info a {white-space: nowrap;color: #474747}
.news-ul li .infoM {font-size: 1.2rem;height: 34px;line-height: 18px;display: -webkit-box;display: box;-webkit-line-clamp: 2;word-wrap: break-word;word-break: break-all;-webkit-box-orient: vertical;color: #999;}
/**游戏频道**/
.game-fl-tit{ height:40px;display:-webkit-box;display:-moz-box;display:box;}.game-fl-tit a{ display:block; height:40px; line-height:40px;-moz-box-flex:1;-webkit-box-flex: 1;box-flex: 1; text-align:center; font-size:1.7rem;}
.game-main-wrap{ overflow:hidden; background-color:#fff;}
.game-fl-tit .active{ color:#02aff3}
.game-fl li .info{ margin-right:0}.game-fl li .text{ height:40px; line-height:20px; font-size:1.3rem;-webkit-line-clamp: 2;display: -webkit-box;word-wrap: break-word;word-break: break-all;overflow: hidden;text-overflow: ellipsis;white-space:normal;-webkit-box-orient: vertical;}.game-fl li .info a{ height:30px; line-height:30px; font-size:1.5rem;}
.get_more{ height:40px; line-height:40px; text-align:center; display:block; background-color:#fff; color:#999;}
.wyfl{padding: 0 8px;}
.wyfl li { width:100%;display: -webkit-box;display: -moz-box;display: box;}
.wyfl .pic {width: 70px;}.wyfl .pic img {margin:0}
.wyfl .info {-moz-box-flex: 1;-webkit-box-flex: 1;box-flex: 1;margin: 0 8px;border:none;}
/**news-detail**/
.news-wraper{ background-color:#fff; margin:8px 0 0 0; padding:5px; font-size:1.5rem; line-height:25px;}
.news-detail img{ max-width:100% !important; height:auto !important; display:block; margin:0 auto}
.news-detail p{ margin-bottom:10px;}
.news-detail p, .news-detail b, .news-detail strong, .news-detail a, .news-detail span, .news-detail em{ font-size:1.5rem; line-height:25px;}
.news-title{ background-color:#f5f5f5; padding:5px 10px 10px 10px; margin-bottom:10px; text-align:left;}
.news-title h1{font-weight: normal;font-size: 1.6em;padding:5px 0;}
.news-title span{ padding-bottom:10px; color:#999}
.detail-back { width:220px; height:35px;display: -webkit-box;display: -moz-box;display: box;}
.detail-back a,.detail-back span{ display:block; height:35px; line-height:35px;}
.detail-back a{width:35px; background:url(../img/ico1.png) 5px 3px no-repeat; background-size: 18px auto; text-indent:-9999px;}
.detail-back span{height:35px; line-height:35px; width:150px; color:#fff; z-index:9999;-moz-box-flex: 1;-webkit-box-flex: 1;box-flex: 1; font-size:1.8rem; white-space:nowrap; overflow:hidden;  text-overflow:ellipsis;}
.znyj span{display: inline-block;height: 48px;margin-right: 10px;padding: 0 5px;line-height: 48px;font-size: 1.7rem;float: left;}
.znyj-wrap .tag-wrap{box-shadow: 0 2px 4px #d7d7d7; margin:10px 0 0 0;}
/**下载详情**/
#fnav{ padding:10px 8px; height:25px;}
#fnav .back{ background:url(../img/all_ico.png) 0 -199px no-repeat; background-size: 46px auto; display:inline-block; width:50px; height:25px; text-align:center; line-height:25px; color:#999}
#fnav a,#fnav span{height:25px; line-height:25px; font-size:1.4rem; margin:0 2px;}
#fnav a{ color:#02aff3}
.down-detail,.xgd{background-color:#f0f0f0; margin:0 8px; overflow:hidden;}
.game-detail-main {background-color:#fff;display: -webkit-box;display: -moz-box;display: box;height: 70px;width: 100%;padding-top: 10px;padding-bottom: 10px;}
.game-detail-main .pic { margin-left:5px;display: block;width: 70px;height: 70px;}.game-detail-main img {width: 70px;height: 70px;}
.game-detail-main .info {height: 70px;-moz-box-flex: 1;-webkit-box-flex: 1;box-flex: 1;margin: 0 8px;}
.game-detail-main .down,.game-detail-main .bxz { background:none; margin-right:5px; display:block;width: 60px;text-align: center;height: 26px;line-height: 26px;border: 1px solid #02aff3;margin-top: 21px;border-radius: 15px;color: #02aff3;font-size: 1.5rem !important;}

.game-detail-main .down,.game-detail-main .putbxz { background:none; margin-right:10px; display:block;width: 100px;text-align: center;height: 26px;line-height: 26px;margin-top:5px;border-radius: 15px;color: #888;font-size: 1.3rem !important; background:url(../img/litterStar.png) 0px -145px no-repeat;margin-left:20px;border:none; }

.game-detail-main .down,.game-detail-main .gubxz { background:#02aff3; margin-right:10px; display:block;width: 120px;text-align: center;height: 35px;line-height: 35px;border: 1px solid #02aff3;margin-top:10px;border-radius: 15px;color: #fff;font-size: 1.5rem !important;margin-left:10px;
    background: -webkit-linear-gradient(bottom,#53b32b 3%,#69ca41);
    background-color: #69ca41;
    border-bottom: 1px solid #389113;
    border-top: 1px solid #57c02b;
    border-left: 1px solid #42aa16;
    border-right: 1px solid #42aa16;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-box-shadow: 0 1px 0 0 rgba(255,255,255,.33)inset,0 1px 2px 0 rgba(6,0,1,.3),0 -1px 1px 0 rgba(12,3,7,.15)inset;
}


.game-detail-main .info p,.game-detail-main .info a,.game-detail-main .info h1 {float: left;height: 25px;line-height: 25px;width: 100%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.game-detail-main .info .star {height: 20px;line-height: 20px;}
.game-detail-main p i {display: inline-block;height: 15px;line-height: 15px;border-right: 1px solid #dcdcdc;padding-right: 5px;margin-right: 5px;color: #999;}
.game-detail-main p i:last-child{ border-right:none}
.game-detail-main  h1{ display:block;height: 25px;line-height: 25px;font-size: 1.5rem;}
.tab-tit{ width:100%; clear:both; height:36px; background-color:#fff;}
.tab-tit .tab{ border-left:1px solid #dbdbdb; height:34px; border-top:1px solid #dbdbdb; background-color:#f0f0f0;display: -webkit-box;display: -moz-box;display: box;}
.tab-tit li{ display:block; -moz-box-flex: 1;-webkit-box-flex: 1;box-flex: 1; text-align:center; height:34px;}
.tab-tit li span{ display:block; height:34px; line-height:34px; border-right:1px solid #dbdbdb; border-bottom:1px solid #dbdbdb; font-size:1.4rem;}
.tab-tit li.active span{ background-color:#fff; border-bottom-color:#fff; color:#02AFF3}
.box-intro{ width:100%; height:75px; overflow:hidden; font-size:1.5rem; padding-top:10px; line-height:25px;}
.intro-main,.box-intro p, .box-intro b, .box-intro strong, .box-intro a, .box-intro span, .box-intro em{ font-size:1.5rem; line-height:25px;}
.box-intro img{ max-width:100% !important; height:auto !important; display:block; margin:0 auto}
.box-intro p{ margin-bottom:10px;}
.box-intro a{color:#02AFF3}
.box-intro .introTit{ border-left:4px solid #02AFF3; height:28px; width:100%; line-height:28px; padding-left:6px; font-weight:bold; font-size:1.6rem;}
#hidetexttips{ text-align:center; padding-bottom:15px; margin-top:10px;}
#hidetexttips span{ display:inline-block; color:#fff; font-size:1.4rem; width:100px; height:30px; line-height:30px; border-radius:4px; background-color:#02AFF3; text-align:center; background:}
.about-tit{ background-color:#f8f8f8; border-left:4px solid #02AFF3; padding-left:6px; height:28px; line-height:28px; font-size:1.6rem;color:#02AFF3; font-weight:bold; margin:5px 0;}
.bq-main span{ display:inline-block; font-size:1.3rem; background-color:#68c669; color:#fff; padding:5px 8px; border-radius:4px; margin-left:10px; margin-top:8px;}
.bq-main span a{display:block;color:#fff;}
.xg-game .wyfl{ margin:0; padding:0}
.about-news li{ height:36px; border-bottom:1px solid #f0f0f0;}
.about-news li:last-child,.xg-game .wyfl li:last-child{ border-bottom:none}
.about-news li a{ display:block; height:36px; line-height:36px; font-size:1.5rem; overflow:hidden; white-space:nowrap; text-overflow:ellipsis}
.about-wrap{ background-color:#fff; margin-top:12px; padding:5px 8px;}
.intro-main{ margin-top:0}
.game-tags{padding:12px 0;}
#game-focus{ padding-bottom:10px; overflow:hidden; max-height:320px; width:100%;} #game-focus #wraper2{margin:0 auto; text-align:center}
#game-focus #wraper2 ul{ width:1200px;}
#game-focus .circle,#game-focus li{ text-align:center}
#game-focus .circle span{ width:10px; height:10px;}
.focus-main .img-focus,.focus-main .focus-pic li,.focus-main .focus-pic img{ width:100%; height:100%;}
.button-footer{height:40px;line-height:40px;overflow:hidden;text-align:center;color:#666;background:#fff;position:relative;}
.button-footer a{font-size:14px;}
#moreList{margin:12px 0 0 0;}
#moreList.zq-game{margin-top:0;}
/*厂商/市场部推荐*/
#down #wrapper2,#down #wrapper3{width:100%;float:left;position:relative;z-index:0;overflow:hidden;}#down #scroller2,#down #scroller3{width:3000px;height:100%;float:left;}#down #scroller2 ul,#down #scroller3 ul{display:block;float:left;width:100%;height:100%;}
.mart-app,.tcsyy{padding:0;overflow:hidden;background:#fff;}
.mart-app{margin:0 8px;}
.tcsyy .hd{height:24px;margin:10px 0 0 5px;}
.tcsyy .hd span{float:left;height:24px;padding-left:6px;border-left:4px solid #02AFF3;font-size:1.6rem;color:#000;}
.tcsyy .hd a{display:inline-block;float:left;height:24px; line-height:24px;margin-left:20px;padding:0 10px;color:#fff;background:#68c669;border-radius:0 3px 3px 0; position:relative;}
.tcsyy .hd a::after{content:"";position:absolute;top:6px;left:-5px;width:0;height:0;border-top:5px solid transparent;border-bottom:5px solid transparent;border-right:5px solid #68C669; }
.app-ul{padding:15px 0 10px 0;overflow:hidden;}
.app-ul li{float:left;width:70px;height:78px;color:#000;line-height:16px;text-align:center;overflow:hidden;}
.app-ul li img{display:block;width:48px;height:48px;margin:0 auto;margin-bottom:3px;border-radius:10px;}
.app-ul li span{display:block;height:24px;line-height:24px;overflow:hidden;margin-top:3px;}
.tcsyy .app-ul li{width:90px;height:104px;}
.tcsyy .app-ul li img{width:66px;height:66px;}
.tcsyy .app-ul li span{height:32px;line-height:16px;}
/*下载页固顶*/
.game-tags.fix,.tab-tit.fix{display:block;width:100%;margin:0;padding:0;background:none;position:fixed;left:0;z-index:9;display:-webkit-box;display:-moz-box;display:box;}
.game-tags.fix .bq-main,.tab-tit.fix .tab{margin:0 8px;-moz-box-flex:1;-webkit-box-flex:1;box-flex:1;}
.game-tags.fix{top:36px;}
.game-tags.fix .bq-main{padding:3px 0 12px 0;background:#fff;border-bottom:1px solid #ddd;}
.game-tags.fix .about-tit{display:none;}
.tab-tit.fix{top:0;}

/**标签大全**/
.tags-wrap{ margin-bottom:12px;}
.tags-wrap .tags-tab{ width:100%; height:39px;}
#wrapert{ height:39px; width:100%; overflow:hidden; position:relative}
#wrapert ul{ width:2000px; position:absolute; left:0; top:0;}
#wrapert ul li{display:inline-block; height:36px; line-height:36px; font-size:1.5rem; text-align:center; overflow:hidden; float:left;-webkit-tap-highlight-color:rgba(255,255,255,0)}
#wrapert ul .active,#wrapert ul li:active{ border-bottom:2px solid #02AFF3; color:#02AFF3;-webkit-tap-highlight-color:rgba(255,255,255,0); }
.tags-main-box .tags-box{ color:#999; line-height:20px; overflow:hidden; width:100%; margin-top:10px;}
.tags-main-box .info p,.tags-main-box .info{ color:#999; line-height:20px; font-size:1.3rem; text-indent:30px;display: -webkit-box;-webkit-line-clamp: 3;word-wrap: break-word;word-break: break-all;overflow: hidden;text-overflow: ellipsis;-webkit-box-orient: vertical;}
.tags-main-box .tit{ height:25px; line-height:25px; font-size:1.4rem; margin-bottom:5px;}
.tags-main-box .tit a{ height:25px; line-height:25px; font-size:1.6rem; color:#474747}
.tags-main-box .tit .more{ float:right; font-size:1.3rem; color:#999}
.tags-box-ul{ overflow:hidden;zoom:1;}
.tags-box-ul li{ width:25%; float:left; margin-top:8px;}
.tags-box-ul li a{ display:block; width:66px; height:90px; text-align:center; margin:0 auto;}
.tags-box-ul li img{ width:66px; height:66px; text-align:center; float:left; display:block; margin:0 auto}
.tags-box-ul li span{ clear:both; overflow:hidden; display:block; width:66px; height:24px; line-height:24px; text-align:center}
.pagenum{ height:12px; text-align:center; margin:12px 0 8px 0;}
.pagenum span{ display:inline-block; width:12px; height:12px; border-radius:50%; background-color:#f0f0f0; margin:0 5px; text-indent:-9999px;}
.pagenum .active{ background-color:#02AFF3}
.tags-main-box{ float:left}
.tags-main{ width:100%; overflow:hidden}
.tags-main-ul{ width:1500px;}
.down-detail{background-color:#f0f0f0; margin:0 8px; overflow:hidden;border-top:1px solid #f0f0f0;}
.about-news-ul{ margin:0 ;}
embed,object,.news-detail iframe{ max-width:100% !important}
.news-detail iframe{ max-height:320px !important}
.bxz {display: block;width: 62px;height: 28px;line-height: 28px;color: #fff;background-color:#fff;border-radius: 4px;text-align: center;font-size: 1.3rem !important;}
.news-wraper .bxz,.intro-main .bxz {background-color:#02aff3; color:#fff}
.news-detail-main .bxz{ background:none; color:#02aff3}
.news-detail-main .info a{ font-size:1.5rem;}
/**k页面**/
.k-head{position:relative;}
.k-banner,.k-banner img{ width:100%;height:200px;}
.zqxq-info{ margin:8px; margin-bottom:0;font-size: 1.5rem;line-height: 24px; height:75px; overflow:hidden}
.zqxq-info p{font-size: 1.5rem;line-height: 24px;}
.zkxl{ height:30px; line-height:30px; text-align:right; margin:0 10px;}
.gemore{ height:30px; line-height:30px; font-size:1.5rem; color:#02aff3}
.zq-game .wrap-tit{ height:40px; line-height:40px; background-color:#fff;border-bottom:1px solid #f0f0f0}
.zq-game .wrap-tit h2{ height:30px; padding:4px 0px; line-height:30px; font-size:1.6rem;}
.zq-game .rank-main-list{margin:0;padding:0 5px 0 0;}
.zq-game .zqNum{ font-size:1.6rem; color:#02aff3}
.zq-game li{margin-top:0;padding:12px 0;}.zq-game li .pic{margin-left:12px;}
.zq-game li u.hot,.zq-game li u.best,.zq-game li u.rq{display:block;width:38px;height:38px; position:absolute;top:-2px;left:0; background:url(../img/kicon.png) no-repeat;background-size:118px auto;}
.zq-game li u.rq{ background-position:-78px 0;}.zq-game li u.hot{ background-position:-38px 0;}
.morek{ background-color:#fff; padding-bottom:10px; margin:12px 8px 0 8px; background-color:#fff;}
.morek .k{ overflow:hidden;}
.morek li{width: 47%;height: 100px;float: left; margin:10px 1% 0 1%;background-color: #fff;text-align: center;}
.morek li:nth-child(odd){ margin-left:2%;}
.morek li:nth-child(even){ margin-right:2%;}
.morek li img{ width:100%; height:80px; float:left}
.morek li b {display: block;width: 100%;clear: both;height: 20px;line-height: 20px;overflow: hidden;}
#fnav .ktit{ font-size:1.4rem;}
#wrapper1 li{ width:150px; height:110px; margin-right:10px; float:left}
#wrapper1 li img{ width:150px; height:80px; margin-right:10px;}
#wrapper1 li span{ width:130px; padding:0 10px; height:30px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.kmain .xgwz{margin-top:12px;}
/*k标签*/
.ktag.fix{position:fixed;top:0;width:100%;margin-left:0;margin-right:0;margin:0;padding:12px 5px;box-shadow:0px 1px 2px #ccc;z-index:2;}	
.ktag{padding:15px 10px;background:#fff;overflow:hidden;display:-webkit-box;box-sizing: border-box;border-bottom:1px solid #e8e6e6;}
.ktag a{-webkit-box-flex: 1;display: block;height:30px;line-height:30px;overflow:hidden;margin:0 6px;text-align:center;font-size:13px;border-radius:20px;color:#333;background:#ececec;}
.ktag a:nth-child(1){ background-color:#6046ff;color:#fff;}
.ktag a:nth-child(2){background-color:#ff5e32;color:#fff;}
#content{width:100%;height:40px;margin:0px;padding:0 10px;box-sizing:border-box;display:block;overflow:hidden;position:absolute;left:0;bottom:8px;z-index:20}
#content .k-scroll{width:94%;height:auto;line-height:20px;overflow:hidden;padding:0 90px 0 0;font-size:12px;color:#fff;position:absolute;left:3%;top:0;box-sizing:border-box;}
#content .k-scroll p{width:100%;height:auto;line-height:20px;text-indent:2em;}
#g-black-bg{width:100%;height:57px;background:#000;opacity:0.7;display:block;overflow:hidden;position:absolute;left:0;bottom:0;z-index:10;}
#g-look-desc{display:block;width:80px;height:24px;line-height:24px;overflow:hidden;font-size:12px;color:#fff;background:#02AFF3;text-align:center;border-radius:4px;position:absolute;right: 6px;bottom: 17px;z-index:20;}
#g-desc-bg{width:80px;height:25px;background:#000;opacity:0.7;display:none;overflow:hidden;position:absolute;left:0;bottom:52px;z-index:10;}
.m-desc-alert{width:90%;height:auto;max-height:70%;padding:18px;box-sizing:border-box;display:block;overflow:hidden;line-height:22px;font-size:14px;color:#333;background:#fff;border-radius:4px;position:fixed;top:15%;left:5%;z-index:99999;overflow:auto}
.m-desc-alert p{width:100%;height:auto;display:block;overflow:hidden;text-indent:18px;}
#m-close-desc{width:auto;height:auto;font-size:12px;background:#333;color:#fff;padding:0 6px;display:block;overflow:hidden;position:fixed;right:5%;top:15%;z-index:10;border-radius:0 0 0 6px}
#m-alert-bg{width:100%;height:100%;background:#000;opacity:0.6;display:block;overflow:hidden;position:fixed;left:0;top:0;z-index:99998;}
#kBox{background:#fff;}
#kBox ul{display:none;}#kBox ul.on{display:block;}
.tab-nav{height:45px;border-bottom:1px solid #ddd;}
.tab-nav span{width:50%;float:left;line-height:45px;text-align:center;font-size:16px;position:relative;}
.tab-nav span.cur{color:#02aff3;border-bottom:1px solid #02aff3;}
.tab-nav span.cur:after{content: "";display: block;width: 10px;height:10px; margin-left: -8px;background:#fff;border:1px solid #02aff3;transform:rotate(45deg);-webkit-transform:rotate(45deg);border-right: 1px solid #fff;border-bottom: 1px solid #fff;position: absolute;left: 50%;bottom: -6px; }
.zq-game .hd{padding-top: 12px;background: #fff;}
.zq-game .hd h2{height: 20px;line-height: 20px;margin: 0 10px;padding-left: 5px;font-size:1.6rem;font-weight: normal;color: #333;border-left: 3px solid #02AFF3;}
.zq-game .hd span{color:#f90;}
/**首页分类**/
.gamefl li {height: 64px;width: 50%;float: left;border-bottom: 1px solid #f5f5f5;margin-top: 10px;padding-bottom: 10px;}
.gamefl .info {height: 64px;-moz-box-flex: 1;-webkit-box-flex: 1;box-flex: 1;margin: 0;border-right: 1px solid #f5f5f5;}
.gamefl li .pic {display: block;width: 100%;height: 70px;display: -webkit-box;display: -moz-box;display: box; padding:0}
.gamefl li img {width: 64px;height: 64px;margin: 0 6px;}
.gamefl .info span {display: block;width: 100%;height: 30px;line-height: 30px;font-size: 1.5rem;text-align:left}
.gamefl .info .text {font-size: 1.3rem;color: #999;}
.news-main{ background-color:#fff; margin-top:10px;}.news-main #comment{ margin:0}
.tags-wrap #tags-main{ height:295px; width:100%; overflow:hidden}

#goTop{display:block;position:fixed;right:10px;bottom:80px;text-indent:-9999px;z-index:9999;width:38px;height:38px;padding:0;background: rgba(0,0,0,0.5) url(/css/img/backtop.png) no-repeat;background-size: 100% 100%;border-radius:50%;}
/**微信样式**/
.main-bg{ z-index:999999999; background-color:#000; opacity:0.8; text-align:center}.main-bg img{ width:280px;}
.maskM{ display:block; height:100%; width:100%}.maskM img{ width:100%; height:100%; opacity:0;}
/**广告**/
.bd-title{ background-color: #fff;border-left: 4px solid #02AFF3;padding-left: 6px;height: 28px;line-height: 28px;font-size: 1.6rem;color: #02AFF3;font-weight: bold;margin:10px 0px 0 0px;}

/*ios9提示*/
.ios9_tips{margin:5px 10px 5px;border:1px solid #e7e7e7;border-radius:4px;overflow:hidden;color:#646464;background:#ffffff;}
.ios9_tips .hd{display:inline-block;height:26px;line-height:28px;padding:0 15px;margin:-2px 0 10px -2px;background:#fd8330;color:#fff;border-radius:4px;}
.ios9_tips .textCon{margin-bottom:8px;padding:0 10px;text-align:center;}.ios9_tips .textCon font{color:#cb1212;font-size:15px;}
.ios9_tips .btn{text-align:center;margin-bottom:12px;}
.ios9_tips .btn span{display:inline-block;}
.ios9_tips .btn a,.ios9_tips .link2{display:inline-block;height:30px;line-height:30px;border:1px solid #e0e0e0;border-radius:4px;}
.ios9_tips .link1{padding:0 30px 0 20px;margin-right:15px;background:#f3f3f3 url(../img/tips_icon.png) 106px 8px no-repeat;background-size:8px 38px;font-size:16px;color:#000;}
.ios9_tips .link2{padding:0 10px;text-align:center;color:#a7a7a5;color:#999;}
.ios9_tips .btn .link2:hover{color:#65bb0a;}
.ios9_tips .detail{margin:0 10px;overflow:hidden;}.ios9_tips .detail strong{display:block;padding-top:10px;color:#000;border-top:1px solid #ddd;}
.ios9_tips .detail p{margin:7px 0;line-height:25px;}.ios9_tips .detail p a{color:#e45c02;text-decoration:underline;}
.ios9_tips .detail i{display:inline-block;width:13px;height:15px;line-height:15px;margin-right:5px;text-align:center;border:1px solid #c4c4c4;border-radius:2px;}

/*评论页*/
#comment_page #fnav a{display:inline-block;float:left;}
#comment_page .cata{max-width:70%;overflow:hidden;white-space: nowrap;text-overflow: ellipsis;}
/**分享**/
.share_zan{ padding:10px 0; height:30px; background-color:#fff;}
#nativeShare .nativeShare-tit{ font-size:14px; width:32px;}
#nativeShare{ line-height:30px;}
.share{ float:right;display:inline-block;height:30px; margin:0; margin-right:10px; white-space:nowrap; text-align:center}
.share a,.share .bdshare-button-style2-16 a{ float:left; display:inline-block; overflow:hidden;height:30px; line-height:30px; border-radius:14px; margin:0 4px; width:30px; padding:0}
.share .bdsharebuttonbox{display: inline-block; width:auto !important; float:left; width:200px;}
.share .zan{ padding:0 6px 0 32px !important; min-width:50px; background:url(../img/ico.png) 5px -669px no-repeat; background-size:30px auto;border:1px solid #dfdfdf;}
.share .bdshare-button-style2-16 .sina{ background:url(../img/share.png)-67px 0 no-repeat; background-size:auto 30px;}
.share .bdshare-button-style2-16 .qq{ background:url(../img/share.png) -33px 0 no-repeat; background-size:auto 30px;}
.share .bdshare-button-style2-16 .bds_renren{ background:url(../img/share.png) -99px 0 no-repeat; background-size:auto 30px;}
#nativeShare,.nativeShare{display:inline-block;float:left;height:30px; line-height:33px;}
#nativeShare .list{ height:30px; float:left}
#nativeShare span{ float:left; display:inline-block; width:31px; height:30px; margin:0 4px;}
.nativeShare{ float:left; display:none}
#nativeShare .weixin_timeline{background: url(../img/share.png) 0 0 no-repeat;background-size:auto 30px;}
#nativeShare .weixin{background: url(../img/share.png) -132px 0 no-repeat;background-size:auto 30px;}
#nativeShare .more{background: url(../img/share.png) -301px -12px no-repeat;background-size:auto 54px;}
#nativeShare .weibo{ background:url(../img/share.png)-66px 0 no-repeat; background-size:auto 30px;}
.nativeShare-tit{display:inline-block; height:28px; line-height:28px;float:left; font-size:1.5rem; padding:0 5px;}
/*下载弹出层*/
.m-click-show{ width:100%; height:100%; position:fixed; left:0; top:0;overflow:hidden; z-index:999}
.m-click-show .m-black-bg{ width:100%; height:100%; background:#000; opacity:0.7; display:block; overflow:hidden; position:fixed; left:0; top:0; z-index:10;}
.m-click-show .m-show-cont{ width:98%; height:auto; background:#fff; border-radius:6px; padding:12px 6px; box-sizing:border-box; position:fixed; left:1%; top:100px; display:block; overflow:hidden; z-index:20;}
.m-click-show .m-show-cont .g-show-title{ width:100%; height:auto; line-height:24px; font-size:16px; font-weight:normal; color:#333; display:block; overflow:hidden; border-bottom:1px solid #eee; padding:2px 0 8px 0;}
.m-click-show .m-show-cont .g-show-title span{ color: #02aff3; font-weight:bold; font-size:16px;}
.m-click-show .m-show-cont .m-close-btn{ width:auto; height:auto; font-size:30px; font-weight:bold; color:#333; -webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-o-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg); display:block; overflow:hidden; position:absolute; right:6px; top:0; z-index:30; cursor:pointer}
.m-click-show .m-show-cont .m-show-ul{ width:100%; height:auto; display:block; overflow:hidden;}
.m-click-show .m-show-cont .m-show-ul li{ width:25%; height:auto; float:left; margin:12px 0 0; display:inline; overflow:hidden; text-align:center;}
.m-click-show .m-show-cont .m-show-ul li a{ width:100%; height:auto;overflow:hidden; cursor:pointer; text-decoration:none}
.m-click-show .m-show-cont .m-show-ul li a img{ width:64px; height:64px; display:block; margin:0 auto; overflow:hidden;border-radius: 10px;}
.m-click-show .m-show-cont .m-show-ul li a p{color: #000;font-size:14px; width:100%;line-height:26px; margin:3px 0;display:block; overflow:hidden;}
.m-click-show .m-show-cont .m-show-ul li a .down{ display:block; height:22px; line-height:22px; margin:3px 10px 0 10px; border:1px solid #02aff3; border-radius:3px; color:#02aff3; font-size:12px;}

p.tips{
    background-color: #fff;
    width: 100%;
    border-bottom: 1px solid #f5f5f5;
    padding-bottom: 10px;

    color: #999;
    font-size: 12px;
    margin-bottom: 10px;
    line-height: 12px;
    padding-left: 15px;
}
p.tips em {
    color: #f80;
    font-style: normal;
}

.normal{clear:both;}
.normal span{font-size:13px; line-height:20px;min-height:40px; color:#999;}
.normal .icon {display: none;margin:10px 5px 0 0;float:left;width: 20px;height: 20px;background:url(../img/all_ico.png) 0px -409px no-repeat;}
.newBox .btn-checkbox {display: block;height: 36px;line-height: 36px;font-size: 16px;margin-right: 30px;}
.newBox .icon-check {display: inline-block;width: 19px;height: 20px;margin: 7px 5px 0 0;float: left;background: url(../img/all_ico.png) 0 0 no-repeat;}
.newBox .icon-active {background: url(../img/all_ico.png) 0 -23px no-repeat;}
.newBox .tipShow{background:#d1def9;padding:6px;}
.tipShow span{color:#02aff3;}
.tipShow .icon{ display:block}
.newBox{ display:none; background-color:#fff; padding:0 10px 10px; overflow:hidden; min-height:85px;}
.newBox-on{ background:#fff; left:0; z-index:99; padding:10px;box-shadow: 0px 1px 2px #ccc;}
.newBox .topBox{display:-webkit-box;display:-moz-box;display:box; padding-bottom:10px;}
.newBox .pptvHref{ display:block;-moz-box-flex: 1;-webkit-box-flex: 1;box-flex: 1;height: 36px;color: #fff;    font-size: 18px;border-radius: 3px;background:#02aff3;line-height: 36px;text-align: center;}
.newBox  .noBg{ background:none; border:1px solid #02aff3; color:#02aff3}
/*新底部*/
footer.bottom{padding:0;font-size:1.4rem;}
footer.bottom p{line-height:30px;padding:6px 0;}
footer.bottom a{padding-left:0;font-size:1.4rem;}
.foot-nav{height:35px;display:-webkit-box;display:box;}
.foot-nav li{display:block;height:35px;line-height:35px;text-align:center;-webkit-box-flex: 1;box-flex: 1;border:1px solid #d9d9d9;border-left:none;}
.foot-nav li:last-child{border-right:none;}

/*10.24文章内页新增css*/
.clear{clear: both}
.clearfix{overflow:hidden;*zoom:1;}
.plr{padding-left:8px;padding-right: 8px}
.ptb{padding-top: 10px;padding-bottom: 10px}
.ht_news_dt{background: #fff}
.ht_news_dt .about-tit,.ht_news_dt .bd-title{position:relative;background: none;color:#333;font-weight: normal;}
.ht_news_dt .about-tit .more{float: right;font:14px/28px microsoft yahei;color:#666;}
.ht_news_dt .about-tit b,.ht_news_dt .about-tit em{float: left;}
.ht_news_dt .about-tit em a{color:#fff}
.ht_news_dt .about-tit em{display: block;background: url(../img/cslong.png) no-repeat left center;color:#fff;padding:0 20px;height: 24px;border-radius: 5px;line-height: 24px;font-size: 14px;margin:4px 0 0 10px;}
/*标题*/
.title_r{position: absolute;right:0;bottom: -1px}
.title_r ul li {margin:0 11px;color:#666;display: inline-block; float:left;height: 38px;line-height: 38px;font-size: 14px;text-align: center;overflow: hidden;-webkit-tap-highlight-color: rgba(255,255,255,0);}
.title_r ul li.active{border-bottom: 1px solid #02AFF3;color: #02AFF3;height: 36px;-webkit-tap-highlight-color: rgba(255,255,255,0);}
/*按钮*/
.border_btn{border-radius: 30px;color:#02aff3;text-align: center;font-size: 14px;border:#02aff3 1px solid}
.border_btn a{color:#02aff3}
.cir_btn{display:inline-block;padding:0;text-align:center;background:none;right:10px;top: 7px;width: 60px;height: 27px;line-height: 27px;font-size: 14px;position: absolute;background: #02aff3;color: #fff;border-radius: 5px; }
/*查看更多*/
.lookmore{background: #f6f6f6;text-align: center !important;color:#999;font-size:14px;line-height: 45px;height:45px !important;margin:15px 0 0 0 }.lookmore a,.lookmore span{color:#999;background: none !important;height:45px !important;line-height: 45px  !important}.lookmore i{display: inline-block;width:15px;height:15px;background: url(../img/rkzk.gif) no-repeat center center;background-size:100% auto;vertical-align: middle;margin-left: 10px}.lookmore.expand i{background-image:url(../img/rksq.gif) }
/*图文列表*/
.pictxt ul{padding:10px 0 0 0}.pictxt ul li{text-align:center;width:80px;height:95px;  float: left;}.pictxt ul li span{display:block;font-size: 14px;line-height: 30px;height: 30px;white-space: nowrap;overflow: hidden;text-overflow:ellipsis}
.pictxt ul li img {width: 66px;height: 66px;text-align: center;display: block;margin: 0 auto; border-radius:10px;}
/*分享*/
.share_area{border-bottom: #efefef 2px solid; padding:9px 10px 11px 10px;margin:0 0 15px 0;overflow: hidden;}
/*标题简介*/
.ht_news_title{border-bottom:#efefef 1px solid;}
.ht_news_title h1{font:bold 18px/32px microsoft yahei;}
.ht_news_title p{font:13px/28px microsoft yahei;color:#666;margin:5px 0 0 0;}
.ht_news_title em{float: right;padding:0 13px;}
/*下载*/
.tDown{position:relative;margin:10px;margin-bottom:0;}
.tDown .pic{display:inline-block;float:left;margin-right:10px;}
.tDown img{width:70px;height:70px;border-radius:10px;}
.tDown .info{height:73px;}#alist .tDown .info strong{display:block;height:20px;line-height:20px;overflow:hidden;color:#888;font-weight:normal;}.tDown .info strong a{margin-right:5px;font-size:18px;color:#333;font-weight:bold;}
.tDown .info em{display:inline-block;margin:5px 0 0 0;}.tDown .info s{font-size:20px;font-weight:bold;color:#f60;}
.tDown .info .sp{display:block;margin:2px 0 0 0;line-height:24px;}.tDown .info .sp u{margin-left:15px;}
.tDown .info i.platform{display:inline-block;float:left;}
.tDown .info strong{height: 24px;overflow:hidden;white-space: nowrap;display: block;text-overflow: ellipsis;}
.tDown .cir_btn{margin-top:22px;font-size: 16px}
.tDown .platform a{display:inline-block;width:20px;height:20px;overflow:hidden;margin-right:3px;text-indent:-999px;background:url(/public/img/pt_btn.png) 0 3px no-repeat;background-size:16px;}
.tDown .platform a.iphone{background-position:0 -27px;background-size:16px;}
.tDown .tags{max-height:26px;margin-top:6px;overflow:hidden;margin-left:-4px;-webkit-box-flex:1;display:-webkit-box;}
.tDown .tags a{-webkit-box-flex: 1;display: block;-webkit-box-sizing: border-box;height:24px;line-height:24px;overflow:hidden;margin-right:2px;text-align:center;font-size:13px;border-radius:5px;color:#02aff3;border: 1px solid #02aff3;}
/*软件介绍*/
.news-detail .border_btn{width:90px;margin:15px auto;line-height: 30px}
/*合集推荐*/
.ht_news_rec a{white-space:nowrap;background:#f6f6f6;border:#e8e8e8 1px solid;overflow:hidden;text-overflow:ellipsis;box-sizing:border-box;display: block;float: left;width: 31.3333%;margin:4px 1%;height: 30px;line-height: 30px;text-align: center;font-size: 14px;color: #333;border-radius: 3px;}
.ht_news_rec a,.ht_news_rec a+a{color: #4996ff}.ht_news_rec a+a+a+a{color:#ff5e33}.ht_news_rec a+a+a+a+a+a+a{color:#65bb0a}.ht_news_rec a+a+a+a+a+a+a+a+a+a{color:#4e8fb7}
/*排行榜*/
.ht_news_rank .cir_btn{margin-top: 19px}
.list ul li{padding:10px 5px 10px 10px;overflow:hidden;zoom:1;position:relative;border-bottom:1px solid #e8e8e8;}
.list ul li .img{margin-right:10px;display:block;width:60px;float:left;}
.list ul li img{width:60px;height:60px;border-radius:8px;}
.list ul li p{-webkit-box-flex:1;color:#777;overflow:hidden;padding-right:70px;}.list ul li p em{margin:7px 0;}
.list ul li p a{display:block;height:16px;line-height:16px;overflow:hidden;font-size:15px;}
.list ul li p span{display:block;line-height:16px;height:16px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;font:12px "\5FAE\8F6F\96C5\9ED1";}
.list ul li p u{margin:0 6px;padding:0 6px;border-left:1px solid #d9d9d9;border-right:1px solid #d9d9d9;}
/*评分*/
.lstar0, .lstar1, .lstar2, .lstar3, .lstar4, .lstar5, .lstar6{background:url(../img/litterStar.png) no-repeat;width:84px;height:13px;display:block;}
.lstar1{background-position:0 -26px;}
.lstar2{background-position:0 -52px;}
.lstar3{background-position:0 -78px;}
.lstar4{background-position:0 -104px;}
.lstar5,.lstar6{background-position:0 -130px;}
/*返回顶部*/
#gotop{display:block;position:fixed;right:10px;bottom:80px;text-indent:-9999px;z-index:9999;width:38px;height:38px;background: rgba(0,0,0,0.6) url(../img/all_ico.png) 9px -364px no-repeat; background-size:28px auto; border-radius:50%; display:none}